In [1]:
#Importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [33]:
PATH = r"C:\Users\Mukti\Downloads\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)

In [44]:
url = "https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEB1SFMZ&marketplace=FLIPKART"
driver.get(url)

In [45]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=634
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Rating': rating,
                'Review': review})

In [46]:
df

     Rating                                             Review
0         5  Really satisfied with the Product I received.....
1         5  Great iPhone very snappy experience as apple k...
2         5  Amazing phone with great cameras and better ba...
3         5  This is my first iOS phone. I am very happy wi...
4         5  Previously I was using one plus 3t it was a gr...
...     ...                                                ...
6335      5  Amazing Powerful and Durable Gadget.\n\nI’m am...
6336      5  What a camera .....just awesome ..you can feel...
6337      5  i11 is worthy to buy, too much happy with the ...
6338      4  So far it’s been an AMAZING experience coming ...
6339      5  iphone 11 is a very good phone to buy only if ...

[6340 rows x 2 columns]

In [38]:
url = "https://www.flipkart.com/apple-airpods-pro-magsafe-charging-case-bluetooth-headset/product-reviews/itm0847811966368?pid=ACCG7XG5ZQ47ZHFR&lid=LSTACCG7XG5ZQ47ZHFRGTXJL1&marketplace=FLIPKART"
driver.get(url)

In [39]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=238
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df1=pd.DataFrame({'Rating': rating,
                'Review': review})

In [40]:
df1

     Rating                                             Review
0         5  Finally received the right product. Thank you ...
1         5  As expected from Apple. Top notch build qualit...
2         5  Great product for daily music listeners and th...
3         5  What a solid product from Apple, it is a beast...
4         5  Trust me its a masterpiece of best enineers th...
...     ...                                                ...
2375      3  Sound quality 4.8/5\nANC 3/5\nBass 3/5 not as ...
2376      1  There are far better alternatives in the marke...
2377      5  First of all this is going to be detailed whic...
2378      4  Superb experience so far waited too long to pu...
2379      5  I hope this review helps you with making a dec...

[2380 rows x 2 columns]

In [41]:
url = "https://www.flipkart.com/apple-airpods-charging-case-bluetooth-headset-mic/product-reviews/itm8f1b2b0173ce4?pid=ACCFF2R85H8YG4WH&lid=LSTACCFF2R85H8YG4WHVYNGWK&marketplace=FLIPKART"
driver.get(url)

In [42]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=560
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df2=pd.DataFrame({'Rating': rating,
                'Review': review})

In [43]:
df2

     Rating                                             Review
0         5  Awesome product by apple\nIf you are bass love...
1         5  Great accessory from Apple. And good delivery ...
2         5  so many SARDAR boys looking for ear phones tha...
3         5  Apple is simply great. one more marvelous and ...
4         5  apple is a brand and its sound will be clear b...
...     ...                                                ...
5595      5  One of the best product launched by Apple this...
5596      5  It’s just awesome. I love my Airpods. The best...
5597      3  This is really easily to carry and convenient ...
5598      5  Apple is known for their classy products and A...
5599      5  Man why do you even reading the reviews? It’s ...

[5600 rows x 2 columns]

In [47]:
url = "https://www.flipkart.com/fire-boltt-ninja-pro-max-smartwatch/product-reviews/itmc876078231d3b?pid=SMWGAM2AFXGNDSQW&lid=LSTSMWGAM2AFXGNDSQWFKNPBU&marketplace=FLIPKART"
driver.get(url)

In [48]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=340
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df3=pd.DataFrame({'Rating': rating,
                'Review': review})

In [49]:
df3

     Rating                                             Review
0         4  I brought this watch to gift it to my wife, an...
1         3  Strap is too weak; inaccuracy of sensors, this...
2         4  Delivered in 24hr. Amazing product but the bel...
3         4  Very good .watch no lag .but I think the displ...
4         5  Awesome watch\nBuild quality just wow\nBattery...
...     ...                                                ...
3395      5  Good product but it didn't show perfect hear r...
3396      5  Finally i purchased this one and genuinely thi...
3397      5  This watch is very nice I enjoy it on this rat...
3398      5                                       Very nice 👌👍
3399      5  In this price segment this is awesome than App...

[3400 rows x 2 columns]

In [50]:
url = "https://www.flipkart.com/sony-sa-d40-80-w-bluetooth-home-theatre/product-reviews/itmfy95dvfgcbnsd?pid=ACCFY95D3FRZTWH5&lid=LSTACCFY95D3FRZTWH5WA1KBC&marketplace=FLIPKART"
driver.get(url)

In [51]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=430
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df4=pd.DataFrame({'Rating': rating,
                'Review': review})

In [52]:
df4

     Rating                                             Review
0         5  very nice sound quality। Sony is Sony । valuab...
1         5  sony D40 80 waat home theatre is so awsm..I bo...
2         5  nice product awesome bass sound quality supb. ...
3         3  1. Bass is very powerful\n2.sound clarity is a...
4         5  it's Really Awsome Product , I Satisfied too m...
...     ...                                                ...
4295      5  Nice product from sony very clear sound qualit...
4296      2  don't buy if you are willing to connect it to ...
4297      1  It is only good for music not for even movies....
4298      5  5 stars out of 5!\n\nTo all the people who rat...
4299      4  Nice home theatre for this range of price. Wor...

[4300 rows x 2 columns]

In [53]:
url = "https://www.flipkart.com/canon-eos-3000d-dslr-camera-1-body-18-55-mm-lens/product-reviews/itm6f665fea97bc2?pid=CAMF3DHJURPEMNRN&lid=LSTCAMF3DHJURPEMNRNEB3BV2&marketplace=FLIPKART"
driver.get(url)

In [54]:
#creating the empty list
urls=[]
rating=[]
review=[]

time.sleep(3)
#scrapping the required details
start=0
end=370
for page in range(start,end):#for loop for scrapping 4 page

    for i in urls:
        driver.get(i)
    #for scrapping the number of rating
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    #for scrapping the review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        review.append(l.text)
        
#Combining all the lists into a single dataframe
df5=pd.DataFrame({'Rating': rating,
                'Review': review})

In [55]:
df5

     Rating                                             Review
0         5  Well Reviewing this after using for almost one...
1         5  product really great . I am totally sctified t...
2         4  The camera simply awesome..and it is a best bu...
3         5  Worth more than the amount. Best DSLR for a go...
4         3  Satisfied with the product.. Its a really good...
...     ...                                                ...
3695      4  Excellent for someone who is new into photogra...
3696      4  The product is very good\nBut if I take anothe...
3697      4  Camera is good for beginner. But not getting t...
3698      5  product is very good and build quality also , ...
3699      5  Verry Nice and for My Opinion is great camera ...

[3700 rows x 2 columns]

In [58]:
rating_data  = pd.concat([df,df1,df2,df3,df4,df5],ignore_index=True)
rating_data

      Rating                                             Review
0          5  Really satisfied with the Product I received.....
1          5  Great iPhone very snappy experience as apple k...
2          5  Amazing phone with great cameras and better ba...
3          5  This is my first iOS phone. I am very happy wi...
4          5  Previously I was using one plus 3t it was a gr...
...      ...                                                ...
25715      4  Excellent for someone who is new into photogra...
25716      4  The product is very good\nBut if I take anothe...
25717      4  Camera is good for beginner. But not getting t...
25718      5  product is very good and build quality also , ...
25719      5  Verry Nice and for My Opinion is great camera ...

[25720 rows x 2 columns]

In [59]:
rating_data.to_csv('rating_data')